body {
  background-color: #f5eec8;
}

h1 {
  color: #555843;
  margin-top: 50px;
  text-align: center;
}
p {
  margin: 5% 0;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  color: #367e18;
  padding: 20px;
}
